.logo_main_container {
    & img {
        width: 200px;
    }

    
/* 
    .text_content {
        font-size: 45.18px;
        font-weight: 400;
        line-height: 57.15px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #061A3A;
        font-family: var(--fontFamily-Neuton-400);
    }
    .white_text{
        color: white;
    }

    .primary_color_txt {
        color: var(--primary-color);
    

    } */
}
/* @media(max-width:768px){
    .logo_main_container {
        & img {
            width: 100px;
        }
}
} */